<h2 class="group-head">Topics</h2>
<div class="tag-group">

  {% capture topics_str %}
    {% for tag in site.tags %}
      {% if tag[0] contains '_topic' %} 
        {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
      {% endif %}
    {% endfor %}
  {% endcapture %}

{% include topic-info.html %}
  <div class="tag-candidates">
  {% assign topics_array = topics_str | split:' ' | sort | reverse %}
  {% for temp_topic in topics_array %}
    {% assign topic_attrs = temp_topic | split: '#' %}
    {% assign topic_name = topic_attrs[1] | split: '_' %}
    {% capture topic_name_str %}{{ topic_name[0] }}{% endcapture %}
      <a class="post-tag tag-candidate" href="/blog/tag/topic/{{ topic_attrs[1] }}" {% if topic_info and topic_info[topic_name_str] %} title="{{ topic_info[topic_name_str] }}" {% endif %}>{{ topic_name[0] }} ({{ topic_attrs[2] }})</a>
    </span>
  {% endfor %}
  </div>
</div>
