@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: local('PT Sans'),
         local('PTSans-Regular-400'),
         url("../fonts/pt-sans/PTSans-Regular-400.ttf") format('truetype');
}
@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    src: local('PT Sans Italic'),
         local('PTSans-Italic-400'),
         url("../fonts/pt-sans/PTSans-Italic-400.ttf") format('truetype');
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: local('PT Sans Bold'),
         local('PTSans-Bold-700'),
         url("../fonts/pt-sans/PTSans-Bold-700.ttf") format('truetype');
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: italic;
    src: local('PT Sans Bold Italic'),
         local('PTSans-BoldItalic-700'),
         url("../fonts/pt-sans/PTSans-BoldItalic-700.ttf") format('truetype');
}


@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'),
         local('Roboto-Regular-400'),
         url("../fonts/roboto/Roboto-Regular-400.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    src: local('Roboto Italic'),
         local('Roboto-Italic-400'),
         url("../fonts/roboto/Roboto-Italic-400.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local('Roboto Bold'),
         local('Roboto-Bold-700'),
         url("../fonts/roboto/Roboto-Bold-700.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    src: local('Roboto Bold Italic'),
         local('Roboto-BoldItalic-700'),
         url("../fonts/roboto/Roboto-BoldItalic-700.ttf") format('truetype');
}


@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    font-style: normal;
    src: local('Noto Sans'),
         local('NotoSans-Regular-400'),
         url("../fonts/noto-sans/NotoSans-Regular-400.ttf") format('truetype');
}
@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    font-style: italic;
    src: local('Noto Sans Italic'),
         local('NotoSans-Italic-400'),
         url("../fonts/noto-sans/NotoSans-Italic-400.ttf") format('truetype');
}
@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    font-style: normal;
    src: local('Noto Sans Bold'),
         local('NotoSans-Bold-700'),
         url("../fonts/noto-sans/NotoSans-Bold-700.ttf") format('truetype');
}
@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    font-style: italic;
    src: local('Noto Sans Bold Italic'),
         local('NotoSans-BoldItalic-700'),
         url("../fonts/noto-sans/NotoSans-BoldItalic-700.ttf") format('truetype');
}
























